<header class="home-header clearfix">
	<div class="logo pull-left">
		<img src="" alt="">
	</div>
	<div>
		<button class="logout-btn pull-right" ng-click="logout()">
			Logout
		</button>
	</div>
</header>
<div class="home-content">
	<div class="my-records">
		<div class="records records-header col-xs-12">
			<div class="col-xs-4">Date</div>
			<div class="col-xs-4">Punch In</div>
			<div class="col-xs-4">Punch Out</div>
		</div>
		<div class="records records-content col-xs-12" ng-repeat="record in records">
			<div class="col-xs-4">{{record.date}}</div>
			<div class="col-xs-4">{{record.loginTime}}</div>
			<div class="col-xs-4">{{record.logoutTime}}</div>
		</div>
	</div>
	<!-- <button ng-click="getPos()">getposition</button> -->
</div>